/*
 * Prism default rules.
 * Based on the VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */
 pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

 code[class*="language-"],
 pre[class*="language-"] {
    color: var(--code-color);
    font-family: 'Overpass Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    
    line-height: 1.33em;
    font-size: 0.8rem;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
 }
 
 pre[class*="language-"] {
    padding: 0.777em 0.324em;
    
    margin: 0;
    overflow: auto;
 }
 
 .representation > pre > code[class*="language-c"] {
    font-size: 0.9rem;
}

 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #C1DEF1;
 }
  
 /*
  * Inline code.
  */
 :not(pre) > code {
    padding: .2em;
    color: var(--code-color);
    font-family: 'Overpass Mono', monospace;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    
    line-height: 1.33em;
    font-size: 0.9rem;
 }
 
 /*
  * Syntax highlighting rules.
  */
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
    color: #008000;
    font-style: italic;
 }
  
 .token.namespace {
    opacity: .7;
 }
  
 .token.string {
    color: var(--token-string-color);
 }
  
 .token.punctuation,
 .token.operator {
    color: var(--code-color); /* no highlight */
 }
  
 .token.url,
 .token.symbol,
 .token.number,
 .token.boolean,
 .token.variable,
 .token.constant,
 .token.inserted {
    color: var(--token-symbol-color);
 }
  
 .token.atrule,
 .token.keyword,
 .token.attr-value,
 .language-autohotkey .token.selector,
 .language-json .token.boolean, 
 .language-json .token.number, 
 code[class*="language-css"]{
    color: var(--token-keyword-color);
 }
  
 .token.function {
    color: var(--code-color);
 }
 
 .token.deleted,
 .language-autohotkey .token.tag {
    color: var(--token-deleted-color);
 }
  
 .token.selector,
 .language-autohotkey .token.keyword {
    color: #00009f;
 }
  
 .token.important,
 .token.bold {
    font-weight: bold;
 }
  
 .token.italic {
    font-style: italic;
 }
  
 .token.class-name,
 .language-json .token.property {
    color: var(--token-class-name-color);
 }
  
 .token.tag,
 .token.selector {
    color: #800000;
 }
  
 .token.attr-name,
 .token.property,
 .token.regex,
 .token.entity {
    color: var(--code-color);
 }
  
 .token.directive.tag  .tag {
    background: #ffff00;
    color: var(--code-color);
 }
 